body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  height: 100vh;
}

.contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 800px;
  border-radius: 20px;

  position: relative;
  isolation: isolate;
}

.contenido::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: pink;
  opacity: 0.1;

  background-image: url(/imagenes/logo.png);
  background-repeat: round;
  background-size: cover;
}

.contenido img {
  margin: 10px;
  width: 50px;
  cursor: pointer;
}

.contenido h2 {
  padding: 200px 100px 65px 108px;
  font-size: 1.5rem;
}

.inicio {
  padding: 80px;
}

#inicioRegistro {
  background: #0f1035;
  color: white;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
}

#inicioRegistro:hover {
  background-color: #0b0b20;
}

.inicio h3 {
  margin: 10px;
  margin-left: 115px;
}

#inicioSesion {
  background: #365486;
  color: white;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
}

#inicioSesion:hover {
  background-color: #133061;
}

.encabezado {
  display: flex;
  margin: 0 0 50px 0;
}

.retroceder {
  flex: row;
  display: flex;
  padding: 10px;
}

#retroceso {
  background: transparent;
  border: transparent;
}

.registro {
  color: rgb(249, 249, 252);
  background-color: #6b93df;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  margin: 20px 0 10px 20px;
}

.registro h1 {
  margin: 10px 0 0 80px;
  font-size: 1.7rem;
}

.titulo {
  color: rgb(249, 249, 252);
  background-color: #6b93df;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  margin: 20px 0 10px 20px;
}

.titulo h1 {
  margin: 10px 0 0 50px;
  font-size: 1.7rem;
}

.nombre {
  justify-content: center;
}

.nombre h5 {
  margin: 20px 0 10px 20px;
  font-size: 1.5rem;
}

.nombre input {
  background: #7fc7d9;
  color: black;
  border-radius: 20px;
  width: 400px;
  margin-left: 10px;
  padding: 10px 0 0 15px;
  justify-content: left;
}

.usuario {
  justify-content: center;
}

.usuario h5 {
  margin: 20px 0 10px 20px;
  font-size: 1.5rem;
}

.usuario input {
  background: #7fc7d9;
  color: black;
  border-radius: 20px;
  width: 400px;
  margin-left: 10px;
  padding: 10px 0 0 15px;
  justify-content: center;
}

.celular {
  justify-content: center;
}

.celular h5 {
  margin: 20px 0 10px 20px;
  font-size: 1.5rem;
}

.celular input {
  background: #7fc7d9;
  color: black;
  border-radius: 20px;
  width: 400px;
  margin-left: 10px;
  padding: 10px 0 0 15px;
  justify-content: center;
}

.direccion {
  justify-content: center;
}

.direccion h5 {
  margin: 20px 0 10px 20px;
  font-size: 1.5rem;
}

.direccion input {
  background: #7fc7d9;
  color: black;
  border-radius: 20px;
  width: 400px;
  margin-left: 10px;
  padding: 10px 0 0 15px;
  justify-content: center;
}

.contrasenia {
  justify-content: center;
}

.contrasenia h5 {
  margin: 20px 0 10px 20px;
  font-size: 1.5rem;
}

.contrasenia input {
  background: #7fc7d9;
  color: black;
  border-radius: 20px;
  width: 400px;
  margin-left: 10px;
  padding: 10px 0 0 15px;
  justify-content: left;
}

.nombreMascota {
  justify-content: center;
}

.nombreMascota h5 {
  margin: 20px 0 10px 20px;
  font-size: 1.5rem;
}

.nombreMascota input {
  background: #7fc7d9;
  color: black;
  border-radius: 20px;
  width: 400px;
  margin-left: 10px;
  padding: 10px 0 0 15px;
  justify-content: center;
}

.recordar {
  margin: 30px;
  font-size: 1.5rem;
  cursor: pointer;
}

.recordar A{
  color: black;
}

.mascota {
  margin-left: 130px;
}

#btn {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: #dcf2f1;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  margin-left: 100px;
  margin-bottom: 50px;
}

#btn:hover {
  background-color: #85ddd9;
}

.row {
  margin: 20px 0 0 50px;
  font-size: 1rem;
    margin-top: 20px;
    background: #6b93df;
    color: white;
    width: 270%;
    height: 30%;
    border-radius: 50px;
  
}

.row h1{
  font-size: 1.5rem;
  margin: 5% 0 5% 15%;
  justify-content: center;
  
}


#btn1 {
  width: 380px;
  height: 50px;
  border-radius: 30px;
  background: #365486;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-left: 30px;
  margin: 20px;
}

#btn1:hover {
  background-color: #1f3253;
}


#btn4 {
  width: 380px;
  height: 50px;
  border-radius: 30px;
  background: #365486;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-left: 30px;
  margin: 20px;
}

#btn4:hover {
  background-color: #1f3253;
}

#btn2 {
  width: 380px;
  height: 50px;
  border-radius: 30px;
  background: #365486;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-left: 30px;
  margin: 20px;
}

#btn2:hover {
  background-color: #1f3253;
}


#btn3 {
  width: 380px;
  height: 50px;
  border-radius: 30px;
  background: #365486;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-left: 30px;
  margin: 20px;
}

#btn3:hover {
  background-color: #1f3253;
}

#btn {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: #dcf2f1;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 50px;
  font-size: 1rem;
}

.agendarCita {
  display: flex;
}

.fecha1 input {
  margin-top: 50px;
  margin-left: 20PX;
  margin-bottom: 250px;
  background: #7fc7d9;
  padding: 10px 0 0 10px;
  width: 350px;
  height: 50px;
  cursor: pointer;
  border-radius: 20px
}

.fecha1 {
  padding: 20px;
  letter-spacing: 5px;
}

.descripcion {
  display: flex;
  margin: 10px;
}

.atras {
  flex: row;
  display: flex;
  padding: 10px;
}

#back {
  background: transparent;
  border: transparent;
}

.subtitulo {
  margin-top: 20px;
  background: #6b93df;
  color: white;
  width: 270%;
  height: 30%;
  border-radius: 50px;
}

.subtitulo h1 {
  font-size: 1.5rem;
  margin: 5% 0 5% 15%;
  justify-content: center;
}

.cuadro{
  margin-top: 100px;
  padding-top: 10px;
}

.cuadro2 {
  justify-content: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  padding-top: 120px;
  margin: 20px 30px 30px 20px;
  height: 380px;
  width: 350px;
  border-radius: 50px;
  border-color: #000000; 

  position: relative;
  isolation: isolate;
}

.cuadro2::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: #c5e9f1;
  opacity: .5;
  border-radius: 50px;
  border-color: #000000;  

  background-image: url();
  background-repeat: round;
  background-size: cover;
}

#salirApp {
  width: 280px;
  height: 50px;
  border-radius: 30px;
  background: #ff5252;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-left: 50px;
  margin: 50px;

}

#salirApp:hover {
  background-color: #ffbdbd;
}

#mascota {
  margin-top: 250px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: #dcf2f1;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  margin-left: 100px;
  margin-bottom: 50px;
}

#mascota:hover {
  background-color: #85ddd9;
}


